{literal}

/*      Anlässe     */

#anlassfilter {
        position: relative;
        width: 590px; height: 190px;
        background: #f0f0f0 url('{/literal}{$imgPath}{literal}menu-bg.gif') 0px 0px repeat-x;
        border: 1px solid #ccc; -moz-border-radius: 3px;
        padding: 10px 30px;
        font: 12px 'Lucida Sans Unicode', arial;
}

#anlassfilter table {width: 460px; border-collapse: collapse; }
#anlassfilter table td { line-height: 28px; }
#anlassfilter .kalender { position: absolute; top:35px; right:25px;}
#anlassfilter .submit {
        width: 203px;
        border: 1px solid #aab;
        background: #dde url('{/literal}{$imgPath}{literal}menu-bg.gif') 0px -22px repeat-x;
        padding: 3px; margin: 5px 0px;
        font: bold 13px helvetica;
        color: #229900; cursor: pointer; 
        }
#anlassfilter .select {width: 203px;}
#anlassfilter .input {width: 195px; padding:2px}
#anlassfilter .checkbox { margin:0 0 0 10px }


#anlasstabelle  { font: 12px 'Lucida Sans Unicode', arial; width: 650px; border-collapse: collapse; border: 1px solid #ccc; }
#anlasstabelle th { font: bold 14px 'Lucida Sans Unicode', arial; color: #009900; padding: 0px 10px; background: #f0f0f0 url('{/literal}{$imgPath}{literal}menu-bg.gif') 0px bottom repeat-x; text-align: left; line-height: 30px;}
#anlasstabelle td { padding: 0px 10px; border-top: 1px solid #eee; line-height:  28px; }
#anlasstabelle .modulo {background: #ffeeee;}
#anlasstabelle .center {text-align:center;}
#anlasstabelle a {color: #086FA1; outline: 0px;}
        
        
{/literal}



