{literal}
.interclub table tr td table tr td strong{


}

.tableRowGrey{
	background: #ffeeee;
}

.interclub
{
	font-family:			Arial, Helvetica, sans-serif !important;
	font-size:				11px !important;
}


{/literal}