{literal}
#contentbox {
        position: relative;
        width: 590px;
        background: #f0f0f0 url('{/literal}{$imgPath}{literal}menu-bg.gif') 0px 0px repeat-x;
        border: 1px solid #ccc; -moz-border-radius: 3px;
        padding: 10px 30px;
        font: 12px 'Lucida Sans Unicode', arial;
}

#contentbox table {width: 600px; border-collapse: collapse; }
#contentbox table td { line-height: 24px; }





{/literal}